*{
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.bigBox{
    aspect-ratio: 1/1;
    border: black solid 2px;
    background-color: lightgray;
    position: relative;
}
#mainWindow{
    margin: auto;
}

.completed{
    width: 10%;
    height: 10%;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    z-index: 2;
}


