#clockModule{
    background-color: gray;
}
#strikes{
    margin: auto;
    margin-top: 17%;
    border: black solid 2px;
    width: 50%;
    height: 20%;
}
#strike1{
    text-align: center;
    font-size: 50px;
    color: darkgrey;
}
#strike2{
    text-align: center;
    font-size: 50px;
    color: darkgrey;
}
#clock{
    height: 60%;
    border: 5px black solid;
    text-align: center;
}
#clock h1{
    color: red;
    font-size: 5rem;
}
