.corner{
    position: fixed;
}
#pauseIcon, #playIcon{
    max-width: 70px;
    cursor: pointer;
}
#restartIcon{
    max-width: 70px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}
#gameMenu{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}